@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.hero {
  background: url("images/hero-bg.png") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 115px);
  padding-top: 100px;
}

.ml-20 {
  margin-left: 20%;
}

.data {
  background-color: #073d41;
}

p {
  font-size: 21px;
  font-family: "Inter", sans-serif;
}
